body {
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6,.col .title {
	line-height: 1.3em;
	font-family: $secondary-font;
	font-weight: 300;
        margin-bottom: 5px;
}
h1 {
    margin-bottom: 0;
    font-size: 24px;
}
#main-content h1 {
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
table {
	width: 100%;
	thead {

		td {
			font-weight: normal;
		}
	}
	tr {
		th {
			font-weight: normal;
			font-size: .9em;
		}
		td {
			font-size: .9em;
		}
	}
}
em, i {
  font-style: italic;
}
h5, h6  {
	font-size: 1em;
}